<!DOCTYPE html>
<html lang="zh-cn">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="-webkit-tap-highlight" content="no"/>
<meta content="IE=10" http-equiv="x-ua-compatible"/>
<title>反馈</title>
<link rel="stylesheet" href="../css/fonts.css" />
<link rel="stylesheet" href="../css/apps.min.css" />
<script type="text/javascript" src="../js/Qmik.min.js"></script>
<script type="text/javascript" src="../js/pages.min.js"></script>
<body>
    <!-- 头部导航 -->
    <header class="header">
        <div class="header_nav">
            <a href="../index.html" class="link_white"><i class="icon-arrow-left"></i></a>
            <span class="header_nav_title">天天游戏中心</span>
            <a href="#" class="header_nav_button link_white">返回游戏</a>
        </div>
        <!-- 选项卡菜单 -->
        <ul class="header_tab" q-ctrl="tab_menu">
            <li q-onclick="tab_toggle" data-index="0" class="header_tab_cur">常见问题</li>
            <li q-onclick="tab_toggle" data-index="1">反馈问题</li>
            <li q-onclick="tab_toggle" data-index="2">我的反馈</li>
        </ul>
        <!-- 选项卡菜单 -->
    </header>
    <!-- /头部导航 -->   
    <!-- 中间内容 -->
    <article class="content_withtab" q-ctrl="question">
        <!-- 常见问题 -->
        <div class="tab_content" q-ctrl="commonQuestion">
            <ul class="list jq-commonquestion">
            </ul>
        </div>
        <!-- /常见问题 -->
        <!-- 反馈问题 -->
        <div class="tab_content m3 none" q-ctrl="feedbackForm">
            <p class="p"><b class="red">*</b>意见描述</p>
            <textarea class="textarea" name="content" placeholder="力天游戏中心诚恳倾听您的建议，您的反馈对我们非常重要。" value=""></textarea>
            <p class="p">反馈类型</p>
            <section class="pr">
                <span class="arrow_down"><i class="icon-arrow-up icon-arrow-down font_xg"></i></span>
                <select class="option_list input" name="feedback_type" id="feedback_type">
                    <option value="0">游戏分类</option>
                    <option value="1">游戏分类游戏内分类</option>
                    <option value="2">游戏分类游戏内分类</option>
                    <option value="3">游戏分类游戏内分类</option>
                </select>
                <input type="hidden" value="" />
            </section>
            <p class="p">问题分类</p>
            <section class="pr">
                <span class="arrow_down"><i class="icon-arrow-up icon-arrow-down font_xg"></i></span>
                <select class="option_list input" name="problem_type" id="problem_type">
                    <option value="4">咨询或建议</option>
                    <option value="5">投诉</option>
                </select>
                <input type="hidden" value="" />
            </section>
            <p class="p">Email</p>
            <input class="input" type="text" name="email" placeholder="好的建议可能收到我们的回复哦！" value="" />
            <p class="p">联系电话</p>
            <input class="input" type="text" name="phone" placeholder="好的建议可能收到我们的回复哦！" value="" />
            <aside class="jq-submit-feedback">
                <p class="tc"><input class="green_button mt4" type="button" value="提交反馈" q-onclick="submit" /></p>
                <p class="tc none"><input class="green_disabled_button mt4" type="button" value="提交反馈" /></p>
                <p class="tc mt4 none">您是游客，请<a href="#" class="link_green">登录</a>或<a href="#" class="link_green">注册</a></p>
            </aside>
        </div>
        <!-- /反馈问题 -->
        <!-- 我的反馈 -->
        <div class="tab_content none" q-ctrl="myfeedback">
            <ul class="list jq-myfeedback">  
            </ul>
        </div>
        <!-- /我的反馈 -->
    </article>
    <!-- /中间内容 -->
</body>
</html>