
<ion-view view-title="我的反馈记录">
	<ion-content class="j-swipe">
		<ion-list class="record-detail">
			<ion-item ng-repeat="item in list">
				<p class="tc">{{item.time}}</p>
				<div ng-class="{'user': 'user', 'manager': 'manager'}[item.user_type]">
					<div class="placeholder"></div>
					<div class="img"><img ng-src="{{item.avatar_url}}" /></div>
					<div class="content" ng-class="{'user': 'black', 'manager': 'green'}[item.user_type]">{{item.content}}</div>
				</div>
			</ion-item>
		</ion-list>
    </ion-content>
    <ion-footer-bar class="bar-footer item-input-inset record-footer">
		<label class="item-input-wrapper">
			<input type="text" class="j-input" ng-model="sendMessage" placeholder="请输入信息" value="{{sendMessage}}" data-empty="不能发送空内容">
		</label>
		<button class="button buttton-balanced" ng-click="send()">发送</button>
	</ion-footer-bar>
</ion-view>