
<ion-view view-title="我的反馈记录">
	<ion-content>
		<ion-refresher
		      pulling-text="下拉刷新..."  
		      on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list class="list list-inset list-space">
			<ion-item ng-repeat="item in list">
				<div class="record-item">
					<div class="inline-left">{{item.content}}</div>
					<div class="inline-right" ng-class="{'已回复': 'gray_light', '未回复': 'green', '已结束': 'gray_light'}[item.status]">{{item.status}}</div>
				</div>
				<p>最后更新时间：{{item.time}}</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll 
				ng-if="hasMore"
				on-infinite="loadMore()" 
				distance="1%">
		</ion-infinite-scroll>
    </ion-content>
</ion-view>