
// 仿ios选择器
.ios-picker-bg {
  background-color: #fff;
  .modal {
    min-height: auto;
    bottom: 0;
    height: 240px;
    top: auto;
    left: 0;
    width: 100%;
  }
}
.ios-picker {
  @include position(absolute, down);
  height: 240px;
  width: 100%;
}
.ios-picker-content {
  text-align: center;
  background-color: #fff;
  height: 240px;
  color: #000;
  li {
    line-height: 36px;
    height: 36px;
    transition: 300ms;
  }
}
.ios-picker-scroll {
  top: 120px;
  overflow: visible;
  height: 36px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 2;
  &:before {
    @include position-basic(absolute, top,35px, left, 0);
    content: '';
    height: 110px;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    z-index: 3;
  }
  &:after {
    @include position-basic(absolute, bottom,35px, left, 0);
    content: '';
    height: 110px;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    z-index: 3;
  }
}
// 日期选择器
.ios-picker-content .col {
  padding: 0;
}