 
<ion-view view-title="编辑资料">
   <ion-content>
        <ion-list class="j-form">
            <ion-item class="tc">
                <img id="user_portrait" class="portrait icon120" ng-src="{{user.portrait}}" ng-click="takePhoto()" />
                <input type="hidden" name="photo" value="{{user.portrait}}" data-empty="请上传头像"  />
                <p>点击设置头像</p>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">昵称</span>
                <input type="text" name="name" placeholder="请输入昵称" ng-model="user.name" value="{{user.name}}" data-empty="请输入昵称" />
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">性别</span>
                <ionic-sex oktext="确定"></ionic-sex>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">生日</span>
                <ionic-date></ionic-date>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">地区</span>
                <ionic-city></ionic-city>
            </ion-item>
        </ion-list>
        <p class="tc mt10"><button class="button button-balanced" ng-click="submit()">提交保存</button></p>
   </ion-content> 
</ion-view>
