 
<ion-view view-title="编辑资料">
   <ion-content>
        <ion-list class="j-editUser">
            <ion-item class="tc">
                <img class="avatar icon90" ng-src="{{user.avatar}}" ng-click="takePhoto()" />
                <input type="hidden" name="avatar"　 ng-model="user.avatar" value="{{user.avatar}}" />
                <p>点击设置头像</p>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">昵称</span>
                <input type="text" class="j-input" name="name" placeholder="请输入昵称" ng-model="user.name" value="{{user.name}}" data-empty="请输入昵称" />
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">性别</span>
                <ionic-sex oktext="确定"></ionic-sex>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">生日</span>
                <ionic-date></ionic-date>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">地区</span>
                <ionic-city></ionic-city>
            </ion-item>
        </ion-list>
        <!-- 上传进度条 -->  
        <div class="progressBar" ng-if="showProgress">  
            <i class="progressBar-current" style="width: {{progressPercent}}"></i>  
        </div> 
        <submit-button action="./json/change-password.json" state="home" text="提交保存" user="true" form=".j-editUser"></submit-button>
        <!-- <p class="tc mt10"><button class="button button-balanced" ng-click="submit()">提交保存</button></p> -->
   </ion-content> 
</ion-view>
