
<div  class="ios-picker-bg">
    <ion-modal-view>
        <div class="ios-picker">
            <ion-header-bar ng-class="tm.barCssClass">
                <h1 class="title"></h1>
                <button class="button" ng-click="returnOk()">{{tm.okText}}</button>
            </ion-header-bar>
            <div class="ios-picker-content">
                <div class="row ">
                    <div class="col col-50">
                        <ion-scroll class="ios-picker-scroll" delegate-handle={{tm.hourHandle}}  on-scroll="tm.getData('hour')" scrollbar-y=false has-bouncing=true padding=false>
                        <ul >
                            <li ng-repeat="hour in tm.hourData" >{{hour.name}}</li>
                        </ul>
                        </ion-scroll>
                    </div>
                    <div class="col col-50">
                        <ion-scroll class="ios-picker-scroll" delegate-handle={{tm.minuteHandle}}  on-scroll="tm.getData('minute')" scrollbar-y=false has-bouncing=true padding=false>
                        <ul >
                            <li ng-repeat="minute in tm.minuteData">{{minute.name}}</li>
                        </ul>
                        </ion-scroll>
                    </div>
                </div>
            </div>
        </div>
    </ion-modal-view>
</div>