

// 渐变随机
//
// 参数依次为（背景颜色，渐变角度 0-90deg，背景颜色列表）
//
@mixin gradient-random($bg: #f9ebe6, $angle: 90deg, $color-list: #fb3 #ab4 #655) {
  background: $bg;
  background-image:
    linear-gradient($angle, nth($color-list, 1) 11px, transparent 0),
    linear-gradient($angle, nth($color-list, 2) 23px, transparent 0),
    linear-gradient($angle, nth($color-list, 3) 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}



// 渐变条纹
//
// 参数依次为（背景颜色，渐变角度 0-90deg，背景颜色间距，偶数行背景色）
//
@mixin gradient-zebra($bg, $angle: 0deg, $step: 10%, $second-bg: rgba(255,255,255,.2), $third-bg: $second-bg) { 
  background-image: repeating-linear-gradient($angle, 
    $second-bg $step, $second-bg $step*2, 
    transparent $step*2, transparent $step*3, 
    $third-bg $step*3, $third-bg $step*4, 
    transparent $step*4, transparent $step*5);
  background-color: $bg;
}


// 渐变圆
//
// 参数依次为（背景颜色，背景颜色间距，偶数行背景色）
//
@mixin gradient-circle($bg, $step: 10%, $second-bg: rgba(255,255,255,.2), $third-bg: $second-bg) { 
  background-image: repeating-radial-gradient(circle at center, 
    $second-bg $step, $second-bg $step*2, 
    transparent $step*2, transparent $step*3,
     $third-bg $step*3, $third-bg $step*4, 
     transparent $step*4, transparent $step*5);
  background-color: $bg;
}


// 渐变菱形
//
// 参数依次为（背景颜色，渐变角度 0-90deg，背景颜色间距 有两个值，偶数行背景色）
//
@mixin gradient-diamond($bg, $angle: 45deg, $size: 40px, $even-bg: rgba(255,255,255,.2)) {
  background-image: linear-gradient($angle, $even-bg 25%, transparent 25%, transparent),
                    linear-gradient(-$angle, $even-bg 25%, transparent 25%, transparent),
                    linear-gradient($angle, transparent 75%， $even-bg 75%),
                    linear-gradient(-$angle, transparent 75%， $even-bg 75%);
  background-color: $bg;
  background-size: $size $size;
}


// 渐变交叉
//
// 参数依次为（背景颜色，渐变角度 0-90deg，背景颜色间距 实际为位置，偶数行背景色）
//
@mixin ggradient-across($bg, $angle: 0deg, $step: 10%, $even-bg: rgba(255,255,255,.2)) {
  background-image: repeating-linear-gradient($angle, 
    $even-bg $step, transparent $step, 
    transparent $step*2, $even-bg $step*2, 
    $even-bg $step*3, transparent $step*3), 
  repeating-linear-gradient(90+$angle, 
    $even-bg $step, transparent $step, 
    transparent $step*2, $even-bg $step*2,
     $even-bg $step*3, transparent $step*3);
  background-color: $bg;
  background-size: $size $size;
}



// 渐变-四角星
//
// 参数依次为（背景颜色，背景重复尺寸大小，四角星颜色）
//
@mixin gradient-star($bg, $size: 40px, $other-bg: rgba(255,255,255,.2)) {
  background-image: radial-gradient(circle at center, transparent 70%, $other-bg 70%, $other-bg), 
                    radial-gradient(circle at center, transparent 70%, $other-bg 70%, $other-bg);
  background-color: $bg;
  background-position: 0 0, $size/2 $size/2;
  background-size: $size $size;
}



// 渐变
//
// 参数依次为（渐变类型 linear radial，是否重复，颜色参数...）
//
@mixin gradient($type, $repeat, $color...) {
  @if $repeat == yes {
    background-image: repeating-#{$type}-gradient($color);
  } @else {
    background-image: #{$type}-gradient($color);
  }
}


// 渐变网格
//
// 参数依次为（背景颜色，渐变角度 0-90deg，背景颜色间距 实际为位置，偶数行背景色）
//
@mixin gradient-grid($bg, $size: 15px, $line-width: 2px) {
  background-image: linear-gradient(0deg, #fff $line-width, transparent 0), 
                    linear-gradient(90deg, #fff $line-width, transparent 0), 
                    linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0), 
                    linear-gradient(90deg, hsla(0,0%,100%,.3) 1px,transparent 0);
  background-size: $size * 5 $size * 5, $size * 5 $size * 5, $size $size, $size $size;
  background-color: $bg;
}


// 渐变-波尔卡圆点
//
// 参数依次为（背景颜色， 圆点大小， 圆心位置, 背景重复尺寸）
//
@mixin gradient-polka( $bg, $dot, $accent, $size) {
  background: $bg;
  background-image:
      radial-gradient($accent $dot, transparent 0),
      radial-gradient($accent $dot, transparent 0);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
}


@mixin gradient-checkerboard($bg, $size: 30px, $other-bg: rgba(255,255,255,.2)) {
  background: $bg;
  background-image: linear-gradient(45deg, 
                  $other-bg 25%, transparent 0,
                  transparent 75%, $other-bg 0),
  linear-gradient(45deg,
                  $other-bg 25%, transparent 0,
                  transparent 75%, $other-bg 0);
  background-position: 0 0, $size $size;
  background-size: 2*$size 2*$size;
}