
@import 'custom/custom.scss';
@import 'custom/mixin.scss';


// 图片大小
@include size-icon(120px);

// 列表
.list {
  display: block;
}
.list-space .item {
  margin-bottom: 10px;
}

// 错误提示
.error_tip {
  @include position-basic(fixed, bottom, 40px, left, 50%);
  width: 180px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  opacity: .7;
  border-radius: 4px;
  padding: 5px 7px;
  text-align: center;
  margin-left: -90px;
  font-size: .9em;
  z-index: 10;
}


// 颜色
@include color('gray_light', '#bbb');
@include color('gray_mid', '#666');
@include color('green', '#96aa39');
@include color('orange', '#ff802e');
@include color('red');
@include color('white');
@include color('black');