
@import 'custom/custom.scss';
@import 'custom/mixin.scss';


// 图片大小
@include size-icon(120px);


// 设置顶部header
// .bar-header {
//   height: 65px;
// }
// .bar-header .title,
// .bar-header .button {
//   margin-top: 10px;
// }
// .has-header {
//   top: 64px;
// }


// 设置textarea
// .item-input textarea {
//   width: calc(100% - 155px);
// }

// 设置全局背景色
.scroll-content {
  background-color: #efefef;
}

// 列表
.list {
  display: block;
  background-color: #efefef;
}
.list-space .item {
  margin-bottom: 10px;
  background-color: #fff;
  white-space: normal;
}

// 仿ios选择器
.ios-picker-bg {
  background-color: #fff;
  .modal {
    min-height: auto;
    bottom: 0;
    height: 240px;
    top: auto;
    left: 0;
    width: 100%;
  }
}
.ios-picker {
  @include position(absolute, down);
  height: 240px;
  width: 100%;
}
.ios-picker-content {
  text-align: center;
  background-color: #fff;
  height: 240px;
  color: #000;
  li {
    line-height: 36px;
    height: 36px;
    transition: 300ms;
  }
}
.ios-picker-scroll {
  top: 120px;
  overflow: visible;
  height: 36px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 1;
  &:before {
    @include position-basic(absolute, top,35px, left, 0);
    content: '';
    height: 110px;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    z-index: 2;
  }
  &:after {
    @include position-basic(absolute, bottom,35px, left, 0);
    content: '';
    height: 110px;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    z-index: 2;
  }
}

// 分割线
.division {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

// 错误提示
.error_tip {
  @include position-basic(fixed, bottom, 40px, left, 50%);
  width: 180px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  opacity: .7;
  border-radius: 4px;
  padding: 5px 7px;
  text-align: center;
  margin-left: -90px;
  font-size: .9em;
  z-index: 10;
}

// 链接
.link-green {
  @include link(#33cd5f);
}

// 颜色
@include color('gray_light', '#bbb');
@include color('gray_mid', '#666');
@include color('green', '#96aa39');
@include color('orange', '#ff802e');
@include color('red');
@include color('white');
@include color('black');