

@import "custom/mixin";
@import "pages/ios-picker";

// ==================================
// ============= 我的交易 ============
// ==================================
.trade-item {
  padding: 15px;
  position: relative;
}
.trade-item .fr {
	position: absolute;
	right: 15px;
}

// ==================================
// ============= 编辑资料 ============
// ==================================
.avatar {
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
}
// 进度条
.progressBar {
	height: 10px;
	border-radius: 3px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
}
.progressBar-current {
	background-color: #96aa39;
	height: 8px;
	width: 0%;
	border-radius: 3px;
	display: block;
}

// ==================================
// ============= 服务条款 ============
// ==================================
.terms {
	dl {
		padding: 20px;
	}
	dt {
		margin: 15px 0 7px 0;
		color: #000;
		font-weight: normal;
		&:first-child {
			margin: 0 0 7px 0;
		}
	}
	dd {
		line-height: 25px;
		color: #555;
	}
}

// ==================================
// ======= 我的反馈/我的反馈记录 ========
// ==================================
.record-item {
	margin-bottom: 5px;
	@include display-inline(calc(100% - 65px), 60px);
}
.record-item .inline-right {
	text-align: right;
}

.record-detail {
	.item {
		border: 0;
		background-color: transparent;
	}
	.content {
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 7px 10px;
		background-color: #fff;
		white-space: normal;
		flex: 220px 2 0;
	}
	.img {
		border: 1px solid #ccc;
		border-radius: 5px;
		@include size(55px);
		overflow: hidden;
		flex: 55px 0 0;
	}
	.placeholder {
		flex: 50px 5 2;
	}

}
.record-detail .user{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	.content {
		order: 2;
		margin-right: 10px;
	} 
	.img {
		order: 3;
	}
	.placeholder {
		order: 1;
	}
}
.record-detail .manager{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	.content {
		order: 2;
		margin-left: 10px;
	} 
	.img {
		order: 1;
	}
	.placeholder {
		order: 3;
	}
}
.record-footer .item-input-wrapper {
	background-color: #fff;
	line-height: 33px;
	border: 1px solid #ccc;
	height: 33px;
}
.record-footer .button {
	background-color: #33cd5f;
	color: #fff;
	border-color: #28a54c;
}

// ==================================
// ============= 常见问题 =============
// ==================================
.ques-common {
	@include display-inline(30px, calc(100% - 35px));
}


// ==================================
// ============= 找回密码 =============
// ==================================
.stepImg {
	position: relative;
	.num, .content {
		text-align: center;
		i {
			font-size: 40px;
		}
		em {
			position: relative;
			right: 20px;
			bottom: 10px;
			font-weight: 700;
		}
	}
	.line {
		border-top: 1px solid #bbb;
		position: absolute;
		top: 38px;
		width: 80%;
		left: 50%;
		margin-left: -40%;
		z-index: -1;
	}
}
.identity-type {
	position: relative;
	bottom: 5px;
}